.DS_Store
histfile
*netrwhist

backups/

.git/

.mypy_cache/

node_modules/

plugged/

.pytest_cache/
__pycache__/

**/tags

undodir/

venv*/
.venv*/

**/*vim/plugged
.vim/pack

.vscode

.zcompdump
.zsh_history
